body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
}

button {
    color: white;
    font-weight: 700;
    background-color: #3882F6;
    border-radius: 20%;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 16px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0 16px;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 64px;
}

.top-content-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.top-content-body {
    font-size: 18px;
    color: #E5E7EB
}

.mid-content-title {
    text-align: center;
}

.bot-content {
    background-color: #e5e7eb;
}

.quote {
    color: #1F2937;
    font-style: italic;
}
.quote-author {
    font-style: normal;
    font-weight: 800;
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6
}

.footer {
    font-size: 12px;
    color: #F9FAF8;
    background-color: #1F2937;
    text-align: center;
}